/* WebList - .DemoCol..
   ============================
   The DemoColLow, DemoColMedium and DemoColHigh CSS classes are applied to individual cells of the
   balance column in the DemoColumnTypes view. This shows how to apply dynamic styling based on the
   data in the list.
*/
#OWEBAPP .DemoColumnBalance.DemoColLow{
    background-color: red;   
}

#OWEBAPP .DemoColumnBalance.DemoColMedium{
    background-color: orange;   
}

#OWEBAPP .DemoColumnBalance.DemoColHigh{
    background-color: green;   
}

/* WebList - .DemoColumnCity
   ============================
   This demo shows how to style an individual column. This classname is applied to the City column 
   of the DemoColumnTypes view.
*/
#OWEBAPP .DemoColumnCity{
   font-weight: bold;
}

/* Cabeçalho da aplicação */
#OWEBAPP .TituloApp h1,
#OWEBAPP .TituloApp center{
    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 25px;
    overflow: hidden;
}

#OWEBAPP .PainelUsuario div{
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#OWEAPP .PainelTopo{
    padding: 0px 0px 0px 0px;
    /*border: 1px solid gray;*/
    background-color: #FFFFFF;
}

#OWEBAPP .PainelTopo div.WebCon_Sizer{
    background-color: #FFFFFF;
}
/* FIM - Cabeçalho da aplicação */